@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap');

:root {
    --fonte-titulo: 'Montserrat', sans-serif;
    --fonte-normal: 'Open Sans', sans-serif;
    --primary-color: #000;
    --secondy-color: #fff;
    --gap: 3rem;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

header input, label {
    display: none;
}

body {
    font-family: var(--fonte-normal);
    line-height: 1.5;
    background-color: #222222;
}

.main-content {
    max-width: 120rem;
    padding: 4rem;
}

body .full-width {
    flex: 1 1 100%;
    width: 100%;
}

aside.menu {
    width: 100%;
    background-color: #222222;
    position: fixed;
    z-index: 1;
}

.menu-content {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    max-width: 120rem;
    height: 6.2rem;
    margin: 0 auto;
    padding: 0 3rem;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul a {
    margin-left: 1.5rem;
    color: var(--secondy-color);
    text-decoration: none;
    font-size: 1.5rem;
    position: relative;
}

nav ul a::after {
    content:'';
    background-color: red;
    height: 0.1rem;
    width: 0%;
    bottom: -0.5rem;
    left: 25%;
    right: 0;
    position: absolute;
    transition: all 300ms ease-in-out;
}

nav ul a:hover::after {
    width: 100%;
    left: 0%;
}

.menu h1 img {
    width: 7rem;
    height: auto;
    padding-top: 1rem;
}

.menu-space {
    height: 65px;
}

.main-bg {
    background-color: #222222;
    color: var(--secondy-color);
}

.white-bg {
    background-color: var(--secondy-color);
    color: var(--primary-color);
}

.section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.intro-content {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    align-items: center;
    gap: var(--gap);
    min-height: 100vh;
    position: relative;
    top: 4rem;
}

.intro-content .intro-text {
    color: var(--secondy-color);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.intro-text h2 {
    font-size: 6rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 4.5rem;
    line-height: 1.4;
}

.intro-text p {
    font-size: 2rem;
}

.intro-img img {
    width: 100%;
    height: auto;
}

.top3-text {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 72rem;
    color: var(--primary-color);
    margin-top: 3rem;
}

.top3-text h2 {
    font-size: 4rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 3rem;
}

.top3-text p {
    font-size: 2.2rem;
    text-align: center;
    margin-bottom: 2rem;
    padding: 3rem;
}

.three-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: var(--gap);
    min-height: 100vh;
    position: relative;
    top: 4rem;
}

.three-content .intro-text {
    color: var(--secondy-color);
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.three-content h2 {
    font-size: 6rem;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 4.5rem;
    line-height: 1.4;
}

.three-content p {
    font-size: 2rem;
}

.three-content img {
    width: 100%;
    height: auto;
}

.top-3-content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    color: var(--secondy-color);
    margin-top: 1.5rem;
}

.top-3-content h2 {
    font-size: 6rem;
    margin-bottom: 3rem;
    margin-top: 4rem;
}

.top-3-content p {
    font-size: 2.5rem;
}

.top-3-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--gap);
    margin-top: 8rem;
    counter-reset: top-3-text;
}

.top-3-grid p {
    font-size: 1.8rem;
    margin-top: 2rem;
}

.top-3-grid h3 {
    font-size: 3rem;
}

.top-3-grid h3::before {
    counter-increment: top-3-text;
    content: counter(top-3-text);
    font-size: 8rem;
    margin-right: 2rem;
    transform: rotate(5deg);
    font-style: italic;
    margin-bottom: 9rem;
}

.gallery-content {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    margin-top: 3rem;
}

.gallery-content header h2 {
    font-size: 5.5rem;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1.5rem;
}

.gallery-content header p {
    font-size: 2.2rem;
    margin-bottom: 7rem;
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
}

.gallery-img {
    display: flex;
    overflow: hidden;
    max-width: 100%;
    max-height: 300px;
    background-color: #222;
    padding: 1rem;
}

.gallery-img img {
    width: 100%;
    height: auto;
    transition: all 300ms ease-in-out;
    object-fit: cover;
}

.gallery-img img:hover {
transform: translate(-3%, 3%) scale(1.2) rotate(5deg);
}

.recent-job {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    color: var(--secondy-color);
    margin-top: 1.5rem;
}

.recent-job h2 {
    font-size: 6rem;
    margin-top: 6rem;
    margin-bottom: -2rem;
    text-transform: uppercase;
}

.table-section {
    overflow-x: scroll;
}

.pricing-table {
    border-collapse: collapse;
    width: 100%;
}

.pricing-table td, tr, th{
    white-space: nowrap;
    border: 1px solid rgb(233, 233, 233);
    font-size: 2rem;
    padding: 0.5rem;
}

.pricing-table th {
    background-color: rgb(233, 233, 233);
}

.pricing-table .title-1 {
    width: 30rem;
}

.pricing-table caption {
    text-align: left;
    font-size: 1.7rem;
    font-style: italic;
    margin-bottom: 1rem;
}

.form-contact {
    grid-column: span 2;
    font-size: 2rem;
}

.form-grid {
    border: none;
    display: flex;
    flex-flow: row wrap ;
    gap: var(--gap);
}

.form-grid legend {
    padding-top: 4rem;
    margin-bottom: 2rem;
    font-style: italic;
}

.form-item {
    flex: 1 1 320px;
}

.form-item label {
    display: block;
    margin-bottom: 1rem;
}

.form-item input,
.form-item textarea {
    width: 100%;
    border: none;
    padding: 1.5rem 2rem;
    outline: none;
}

.form-item input:focus,
.form-item textarea:focus {
    box-shadow: 0 0 10px 2px #b65252;
}

.form-item button {
    border: 0.5rem solid var(--secondy-color);
    background-color: var(--primary-color);
    color: var(--secondy-color);
    padding: 1rem;
    margin-bottom: 2rem;
    cursor: pointer;
    font-size: 2rem;
}

.form-item button:hover {
    border: 0.5rem solid var(--secondy-color);
    background-color: var(--secondy-color);
    color: var(--primary-color);
}

.form-item ::placeholder {
    color: lightgray;
    font-size: 2rem;
}

#contact .intro-img img {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.37);
}

footer {
    text-align: center;
    font-size: 1.2rem;
    font-weight: light;
    background-color: var(--secondy-color);
    color: var(--primary-color);
    padding: 2rem;
}

.back-to-top a {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background-color: red;
    border: 0.1rem solid var(--secondy-color);
    color: var(--secondy-color);
    text-decoration: none;
    font-size: 2rem;
    padding: 0.5rem;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-mobile {
    display: none;
}

@media (max-width:800px) {
    .intro-content {
        grid-template-columns: 1fr;
        margin-bottom: 3rem;
    }

    .top-3-grid {
        grid-template-columns: 1fr;
    }

    .three-content {
        grid-template-columns: 1fr;
        margin-bottom: 3rem;
    }


    .gallery-grid {
        grid-template-columns: 1fr;
        justify-content: center;
    }

    .gallery-grid img {
        object-fit: cover;
    }

    .gallery-img {
        height: 600px;
    }

    .form-contact {
        grid-column: 1;
    }

    header input, label {
        display: block;
    }

    .menu {
        top: 0;
        bottom: 0;
        align-items: center;
        display: none;
    }

    .menu-content, .menu-content ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
    }

    .menu-content {
        height: 100vh;
    }

    .menu-content li {
        margin-bottom: 3rem;
    }

    .menu-content a {
        font-size: 2rem;
    }

    .menu-content h1 a {
        font-size: 3rem;
    }

    .close-menu {
        display: none;
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
    }

    .close-menu-label::after{
        content: '☰';
        position: fixed;
        z-index: 2;
        top: 2rem;
        right: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: red;
        color: var(--secondy-color);
        font-size: 2rem;
        padding: 0.5rem;
        width: 4rem;
        height: 4rem;
        cursor: pointer;
    }

    .close-menu:checked~.menu {
        display: block;
    }

    .close-menu:checked~.close-menu-label::after{
        content: 'X';
    }

    .menu-space {
        height: 0;
    }

    .top3-text {
        overflow: hidden;
    }

    .logo-mobile{
        margin-top: 3rem;
        margin-left: 42%;
        width: 8rem;
        height: 5%;
        display: block;
        position: sticky;
        z-index: 1;
    }
}